{% extends 'layout.html' %} 
{% block body %}
<div class="about text-dark text-center jumbotron">
    <h1><u>About</u></h1>
    <h5>Web Apps ini digunakan untuk menyelesaikan final project Cloud Computing 2024</h5>
</div>

<div class="team text-light text-center">
    <h1>Our Team</h1>
    <div class="row">
        <!-- Card 1 -->
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <img src="../static/LOGO AKID_putih.png" class="card-img" alt="Khoirul Umar Rizki" />
                    </div>
                    <div class="col-md-6 text-dark">
                        <div class="card-body text-center">
                            <h4 class="card-title"><u>Khoirul Umar Rizki</u></h4>
                            <p class="card-text">22.83.0902</p>
                            <ul class="inline card-text text-center" style="list-style-type: none; padding: 0;">
                                <li>
                                    <a href="https://github.com/Kano-Fie" class="btn btn2">
                                        <i class="fa fa-github fa-2x"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <img src="../static/LOGO AKID_putih.png" class="card-img" alt="Bayu Rosdianko Kurniawan" />
                    </div>
                    <div class="col-md-6 text-dark">
                        <div class="card-body text-center">
                            <h4 class="card-title"><u>Bayu Rosdianko Kurniawan</u></h4>
                            <p class="card-text">22.83.0945</p>
                            <ul class="inline card-text text-center" style="list-style-type: none; padding: 0;">
                                <li>
                                    <a href="https://github.com/Leviea" class="btn btn2">
                                        <i class="fa fa-github fa-2x"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <img src="../static/LOGO AKID_putih.png" class="card-img" alt="Jesen Tanamas" />
                    </div>
                    <div class="col-md-6 text-dark">
                        <div class="card-body text-center">
                            <h4 class="card-title"><u>Jesen Tanamas</u></h4>
                            <p class="card-text">22.83.0920</p>
                            <ul class="inline card-text text-center" style="list-style-type: none; padding: 0;">
                                <li>
                                    <a href="https://github.com/Froxtie" class="btn btn2">
                                        <i class="fa fa-github fa-2x"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card 4 -->
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <img src="../static/LOGO AKID_putih.png" class="card-img" alt="M Arsya Pamungkas" />
                    </div>
                    <div class="col -md-6 text-dark">
                        <div class="card-body text-center">
                            <h4 class="card-title"><u>M Arsya Pamungkas</u></h4>
                            <p class="card-text">22.83.0835</p>
                            <ul class="inline card-text text-center" style="list-style-type: none; padding: 0;">
                                <li>
                                    <a href="https://github.com/2DSD" class="btn btn2">
                                        <i class="fa fa-github fa-2x"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}